<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Personal Sales Assistant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="chat-space">
    <ion-content #scrollable class="chat-space">
      <!-- For all chatboxes -->
      <div *ngFor="let chatbox of chatboxes" class="{{ chatbox.container }}">
        <div class="{{ chatbox.type }}">
          <!-- If content is text only -->
          <ng-container *ngIf="chatbox.content=='text'">
            <span class="chat-content" [innerHTML]="chatbox.data"></span>
          </ng-container>
          <!-- If content contains list -->
          <ng-container *ngIf="chatbox.content=='list'">
            <!-- Print header -->
            <span class="chat-content" [innerHTML]="chatbox.header"></span>
            <!-- If content is list of address -->
            <ng-container *ngIf="chatbox.data=='address'">
              <!-- If any -->
              <ng-container *ngIf="address.length">
                <!-- For all address -->
                <ng-container *ngFor="let addr of address; let idx=index">
                  <div class="chat-content">{{ idx+1 }}. {{ addr }}</div>
                </ng-container>
              </ng-container>
              <!-- If nothing -->
              <ng-container *ngIf="!address.length">
                <div class="chat-content">Tidak ada.</div>
              </ng-container>
            </ng-container>
            <!-- If content is list of method -->
            <ng-container *ngIf="chatbox.data=='method'">
              <!-- If any -->
              <ng-container *ngIf="method.length">
                <!-- For all method -->
                <ng-container *ngFor="let mt of method; let idx=index">
                  <div class="chat-content">{{ idx+1 }}. {{ mt }}</div>
                </ng-container>
              </ng-container>
              <!-- If nothing -->
              <ng-container *ngIf="!method.length">
                <div class="chat-content">Tidak ada.</div>
              </ng-container>
            </ng-container>
            <!-- If content is list of items -->
            <ng-container *ngIf="chatbox.data=='item'">
              <!-- If any -->
              <ng-container *ngIf="all_item.length">
                <!-- For all items -->
                <ng-container *ngFor="let detail of all_item; let idx=index">
                  <!-- Print without data binding -->
                  <div class="chat-content"><br/>{{ idx+1 }})<br/>Merk: {{ detail['brand'] }}<br/>Harga: Rp {{ encodePrice(detail['price']) }}</div>
                </ng-container>
              </ng-container>
              <!-- If nothing -->
              <ng-container *ngIf="!all_item.length">
                <div class="chat-content">Tidak ada.</div>
              </ng-container>
            </ng-container>
            <!-- If content is cart -->
            <ng-container *ngIf="chatbox.data=='cart'">
              <!-- If any -->
              <ng-container *ngIf="cart_detail.length">
                <!-- For all items -->
                <ng-container *ngFor="let detail of cart_detail; let idx=index">
                  <!-- Print without data binding -->
                  <div class="chat-content"><br/>{{ idx+1 }})<br/>Barang: {{ detail['name'] }}<br/>Merk: {{ detail['brand'] }}<br/>Harga: Rp {{ encodePrice(detail['price']) }}</div>
                </ng-container>
              </ng-container>
              <!-- If nothing -->
              <ng-container *ngIf="!cart_detail.length">
                <div class="chat-content"><br />Tidak ada.</div>
              </ng-container>
            </ng-container>
            <!-- Print footer -->
            <span class="chat-content" [innerHTML]="chatbox.footer"></span>
          </ng-container>
        </div>
      </div>
    </ion-content>
  </div>
</ion-content>


<ion-footer class="footer-container">
  <ion-grid class="footer-container">
    <ion-row class="footer-container">
      <ion-col col-10 class="chat-container">
        <input type="text" class="input-text" placeholder="Ketik di sini" [(ngModel)]="command.val"> <!-- Use two-way data binding to update Model -->
      </ion-col>
      <ion-col col-2 class="button-container">
        <button ion-button class="send-button" block (mousedown)="runCommand(command); $event.preventDefault()"> <!-- Prevent keyboard hides when button clicked -->
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
