page-chat {
    .chat-space {
        height: 100%;
        width: 100%;
        background: #91d3f2;
    }

    .chatbox-container-user {
        position: relative;
        text-align: right;
    }

    .chatbox-container-bot {
        position: relative;
        text-align: left;
    }

    .chatbox-bot {
        position: relative;
        display: inline-block;
        left: 10px;
        top: 10px;
        min-width: 20%;
        max-width: 80%;
        background : #f7ff8c;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .chatbox-user {
        position: relative;
        display: inline-block;
        margin-left: auto;
        right: 10px;
        top: 10px;
        min-width: 20%;
        max-width: 80%;
        background : #91ffd2;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        text-align: left;
    }
    
    .chat-content {
        white-space: pre-wrap;
    }
    
    .footer-container {
        height: 50px;
        width: 100%;
        padding: 0;
    }

    .footer-container::before {
        content: none;
    }

    .chat-container {
        padding-left: 15px;
        box-shadow: 0px 1px 3px gray inset;
    }

    .input-text {
        height: 100%;
        width: 100%;
        border: none;
        margin-top: 10px;
        font-size: 17px;
    }

    .button-container {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .send-button {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}
