page-chat {
    .scroll-space {
        height: 100%;
        width: 100%;
    }

    .chat-space {
        height: 100%;
        width: 100%;
        background: #91d3f2;
    }
    
    .chatbox-container {
        position: relative;
        height: 60px;
    }

    .chatbox-bot {
        position : absolute;
        left : 10px;
        top : 10px;
        min-width: 20%;
        max-width: 85%;
        background : cyan;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        font-size: 16px;
    }

    .chatbox-user {
        position : absolute;
        right : 10px;
        top : 10px;
        min-width: 20%;
        max-width: 85%;
        background : bisque;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        font-size: 16px;
    }

    .footer-container {
        height: 50px;
        width: 100%;
        padding: 0;
    }

    .footer-container::before {
        content: none;
    }

    .chat-container {
        padding-left: 15px;
        box-shadow: 0px 1px 3px gray inset;
    }

    .input-text {
        height: 100%;
        width: 100%;
        border: none;
        margin-top: 10px;
        font-size: 17px;
    }

    .button-container {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .send-button {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}
